/* ---------------------------------------------
/* Navbar */
.nav {
    font-weight: bold;
    width: 100%;
}
.a.navbar-brand {
    color: black;
}
.button.navbar-toggler {
    background-color: black;
}
.navbar-toggler {
    color: black;
}
.button {
    background-color: transparent;
    color: white;
    border:#ffffff;


}

.container {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  /* Fade out the second bar */
  .change .bar2 {opacity: 0;} */
  
  /* Rotate last bar */
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
/* ---------------------------------------------- */
/* ---------------------------------------------- */
/* Body */

#page-content {
    float: left;
    position: relative;
    left: 50%;
}



/* ---------------------------------------------- */
/* ---------------------------------------------- */
/* Footer */
.footer {
    /* Positioning */
    position: absolute;
    bottom: 0;
  
    /* Box-model */
    width: 100%;
    height: 60px;
    margin-top: 30px;
  
    /* Visual */
    background-color: #fff;
  }
  
  .text-muted-footer {
    /* Positioning */
    margin-top: 15px;
  
    /* Typography */
    color: #fff;
  }
  
  .two-toned-footer-color {
    /* Box-model */
    height: 6px;
    padding-top: 3px;
  
    /* Visual */
    background-color: #3ca5fb;
  }
  /* ---------------------------------------------- */