
/* --------------------------------------------- */
/* Navbar */
a.navbar-brand {
    color: aqua;
}

/* ---------------------------------------------
/* Header */
.two-toned-header-color {
    /* Box-model */
    height: 6px;
    padding-bottom: 3px;
  
    /* Visual */
    background-color: #3ca5fb;
  }


/* --------------------------------------------- */
/* --------------------------------------------- */
/* Body */
.top-space {
    margin-bottom: 2%;
}
.title{
    font-size: large;
}

#page-content {
    float: left;
    position: relative;
    margin-left: -5%;
}

.predict-results-box {
text-align: center;
}

/* ---------------------------------------------- */
/* ---------------------------------------------- */
/* Footer */
#footer-index {
    /* Positioning */
    position: absolute;
    bottom: 0;
  
    /* Box-model */
    width: 100%;
    height: 60px;
    margin-top: 30px;
    left: 0%;
  
    /* Visual */
    background-color: #fff;
  }

.text-muted-footer {
    /* Positioning */
    margin-top: 15px;
  
    /* Typography */
    color: #fff;
  }
  
.two-toned-footer-color {
    /* Box-model */
    height: 6px;
    padding-top: 3px;
  
    /* Visual */
    background-color: #3ca5fb;
  }

html {
    position: relative;
    min-height: 100%;
  }
  
body {
      margin: 0 0 100px;
      /* bottom = footer height */
      padding: 25px;
}
  
footer {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 100px;
      width: 100%;
      overflow: hidden;
}



  /* --------------------------------------------- */
  /* --------------------------------------------- */
  /* Team */

#scuff {
  width: 75px;
  height: 75px;
}



.name {
    color: blue;
}
  


.name-set{
  font-weight: bold;
  font-size: 30px;
}

.desc{
  color: red;
}

.work {
  font-weight: bold;
  font-size: 15px;
}
  
.about span {
  font-size: 13px;
}


  /* --------------------------------------------- */


