<!DOCTYPE html>
<html>

<head>
  <!-- These three elements must come first! -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- CSS files will be here -->
  <link rel="stylesheet" href="static/style.css">
  <link rel="stylesheet" href="static/reset.css">
  <link rel="stylesheet" href="static/bootstap.min.css" media="screen">
  <!-- Import Bootstsrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <!-- Give it a title -->
  <title>Tweet Sentiment Predictor</title>

</head>

<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- <a class="navbar-brand" href="index.html" style="color: #3ca5fb; padding-left: 10px; font-size: 25px;" >Navbar</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" style="color: #3ca5fb; font-size: 20px;" href={{ url_for("home") }}>Tweet Sentiment Predictor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #3ca5fb; font-size: 20px;" href={{ url_for("word") }}>Word Collage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #3ca5fb; font-size: 20px;" href="#">Team</a>
        </li>

      </ul>
    </div>
  </nav>
</header>

<body>

  <style>
    body {
      background-image: url(static/images/twitter_logos_top_r_corner.png);
      background-repeat: no-repeat;
      background-size: cover;
    }
    </style>
    <div class="container">
  
      <div class="row">
        <div class="col-md-12 text-center">
          <!-- team starts -->
        <section class="team section-padding" id="team">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                  <div style="padding: 5%;">
                      <div class="section-header text-center pb-5">
                          <h1>Our Team</h1>
                      </div>
                  </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-12 col-md-6 col-lg-4">
                      <div class="card text-center">
                          <div class="card-body">
                              <img alt="" class="img-fluid rounded-circle" src="https://ca.slack-edge.com/T03F8BUKY9W-U03K55QUTV3-31342aa3618a-512">
                              <h3 class="card-title py-2" style="font-size:20px;">Brandon Groenewold</h3>
                          <br>
                              <h5 class="name" name="brandon">Comapay agents house</h5><h7>is a long established fact that eader&nbsp; will be distracted by the readable content.</h7>
                          </br>
                              
                          </div>
                      </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                      <div class="card text-center">
                          <div class="card-body">
                              <img alt="" class="img-fluid rounded-circle" src="https://ca.slack-edge.com/T03F8BUKY9W-U03KC8Q7AM6-6af7631f42fa-512">
                              <h3 class="card-title py-2" style="font-size: 20px;">Jon Kwiatkowski</h3>
                              <br>
                              <h5 class="profile" name="jon">Comapay agents house</h5><h7>is a long established fact that eader&nbsp; will be distracted by the readable content.</h7>
                          </br>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                      <div class="card text-center">
                          <div class="card-body">
                              <img alt="" class="img-fluid rounded-circle" src="https://ca.slack-edge.com/T03F8BUKY9W-U03JZQY2X2B-4a0d09927fca-512">
                              <h3 class="card-title py-2" style="font-size:20px;">Sanoo Singh</h3>
                              <br>
                              <h5 class="profile" name="sanoo">Comapay agents house</h5><h7>is a long established fact that eader&nbsp; will be distracted by the readable content.</h7>
                          </br>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                      <div class="card text-center">
                          <div class="card-body">
                              <img alt="" class="img-fluid rounded-circle" src="https://ca.slack-edge.com/T03F8BUKY9W-U03KXSMMXEU-506af424c960-512">
                              <h3 class="card-title py-2" style="font-size:20px;">Nhan Tran</h3>
                              <br>
                              <h5 class="profile" name="nhan">Comapay agents house</h5><h7>is a long established fact that eader&nbsp; will be distracted by the readable content.</h7>
                          </br>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <img alt="" class="img-fluid rounded-circle" src="https://ca.slack-edge.com/T03F8BUKY9W-U03KXSMMXEU-506af424c960-512">
                            <h3 class="card-title py-2" style="font-size:20px;">Adrian Wood</h3>
                            <br>
                            <h5 class="profile" name="adrian" >Comapay agents house</h5><h7>is a long established fact that eader&nbsp; will be distracted by the readable content.</h7>
                        </br>
                        </div>
                  </div>

                  </div>
                </div>
              </div>
          </div>
      </section><!-- team ends -->
  
        </div>
  
      </form>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  
  
          
  <!-- jQuery CDN -->
  <script type="text/javascript" hef="#" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  
  </body>
    <!-- Start footer -->
  <footer class="footer navbar-fixed-bottom" id="footer-team">
    <div class="two-toned-footer-color"></div>
        <p class="text-muted text-muted-footer text-center"> 
             Machine Learning Tweet Sentiment Predictor
        </p>
  </footer>
  
  </html>




