<!doctype html>
<html>
<style>
form {
    margin: auto;
    width: 35%;
}
.result {
    margin: auto;
    width: 35%;
    border: 1px solid #ccc;
}
</style>
<head>
    <title>Enter Text</title>
</head>
<form action="{{ url_for('main') }}" method="POST">
    <fieldset>
        <legend>Enter Mobile Review:</legend>
        <textarea name="tweet" rows="10" cols="80" required></textarea>
        <br>
        <br>
        <input type="submit">
    </fieldset>
</form>
<br>
<div class="result" align="center">
    {% if rating1 and rating2 %}
        {% for variable, value in original_input.items() %}
            <b>{{ variable }}</b> : {{ value }}
        {% endfor %}
        <br>
        <br> 
           <p style="font-size:30px">The Review looks:</p>
           <p style="font-size:40px">{{ rating1 }}% Positive and {{ rating2 }}% Negative</p>
    {% endif %}
</div>
</html>


<!-- <nav class="navbar navbar-default">
  <div class="container-fluid navbar-custom">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="row">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="col-xs-9 phone-nav">
            <a class="navbar-brand" href="#" id="logo">Latitude</a>
          </div>
        </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right navbar-right-custom">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Plots <span class="caret"></span></a>
            <ul class="dropdown-menu">
            <li><a href="visualizations/temp.html">Max Temperature</a></li>
              <li><a href="visualizations/humidity.html">Humidity</a></li>
              <li><a href="visualizations/cloudiness.html">Cloudiness</a></li>
              <li><a href="visualizations/wind.html">Wind Speed</a></li>
            </ul>
          </li>
          <li><a href="comparison.html">Comparison</a></li>
          <li><a href="data.html">Data</a></li>
        </ul>
        </ul>
      </div><!-- /.navbar-collapse -->
      </div>
      </div><!-- /.container-fluid -->
      </nav> -->